[submodule "cpp/submodules/parquet-testing"]
	path = cpp/submodules/parquet-testing
	url = https://github.com/apache/parquet-testing.git
[submodule "testing"]
	path = testing
	url = https://github.com/apache/arrow-testing
[submodule "cpp/Learn-to-Compress"]
	path = cpp/Learn-to-Compress
	url = git@github.com:yhliu918/Learn-to-Compress.git
